{% extends 'stripe_shop/base.html' %}
{% block content %}
{% load my_tags %}
    <section>
        <div class="container">
            <div class="py-2 text-center">
                <h1>Оформление заказа:</h1>
            </div>
            <div class="row g-7">
                <div class="col-md-7 col-lg-7 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-center">Корзина:</span>
                    </h4>
                    {% for object in object_list %}
                        <form action="{% url 'cart:create_stripe' object.pk  %}" method="post">
                                {% csrf_token %}
                            <ul class="list-group mb-3">


                                    <li class="list-group-item d-flex justify-content-between lh-sm">
                                        <div>
                                            <h6 class="my-0">{{ object.product.name }}</h6>
                                            <small class="text-muted">{{ object.quantity }} шт.</small>
                                        </div>
                                            <span class="text-muted">Сумма к оплате: {% total_amount object.pk %} {{ object.product.currency }}.</span>
                                            <input type="submit" value="Купить">
                                    </li>
                            </ul>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}