{% extends 'stripe_shop/base.html' %}
{% block content %}
{% for object in object_list %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card_header">
                            <h3 class="card-title pricing-card-title">{{ object.name }}</h3>
                            <h3 class="card-title pricing-card-title">{{ object.price }} {{ object.currency }}</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title pricing-card-title">{{ object.description }}</h4>
                        </div>
                        <div class="col-6">

                            <form action="{% url 'stripe_shop:buy_item' object.pk %}">
                               Выбрать количество: <input type="text" name="quantity" >
                                <input type="submit" value="Оформить покупку">
                            </form>
                        </div>

                </div>
            </div>
        </div>
    </div>

{% endfor %}
{% endblock %}